{% extends 'wikiikan/base.html' %} 
{% block content %}
<center>
<div class="text-center table-responsive p-5">
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Nama Ikan</th>
            <th>Status Pakan</th>
            <th>Jenis Ikan</th>
            <th>Jumlah Ikan</th>
            <th>Harga Ikan</th>
            <th>Tanggal Pemberian Pakan</th>
        </tr>
        </thead>
        <tbody>
            <tr>
            <td scope="row"><a href="">
                    {{ ikan.nama_ikan }}
                </a>
            </td>
            <td>{% if ikan.status == 'b' %}
                    Belum Diberi Makan
                {% else %}
                    Sudah Diberi Makan
                {% endif%}
            </td>
            <td>
                {{ ikan.jenis }}
            </td>
            <td>
                {{ ikan.jumlah }}
            </td>
            <td>
                {{ ikan.harga }}
            </td>
            <td>
                {{ ikan.tgl_pakan }}
            </td>
            <td>
                <button type="button" class="btn btn-primary">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">Hapus</button>
            </td>
        </tr>
        </tbody>
</table>
</div>
</center>
{% endblock %}