{% extends 'wikiikan/base.html' %} {% block content %}
<a href="{% url 'detail_ikan' ikan.id %}"><b> -- Back </b> </a>
<h3>Peringatan !!! </h3>
Apakah Anda Yakin ingin Menghapus Peralatan : {{ ikan.nama_ikan }} ?
<form action="" method="post">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" values="Ya, Yakin!">
</form>
{% endblock %}