{% extends 'wikiikan/base.html' %} 
{% block content %}


<div class="text-center table-responsive p-5">
    <a href="{% url 'ikan_add' %}" type="button" class="btn btn-info">Tambah +</a></a>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Nama Ikan</th>
            <th>Status Pakan</th>
            <th>Jenis Ikan</th>
            <th>Aksi</th>
            
           
        </tr>
        </thead>
        <tbody>
            {% for ikan in wikiikan%}
            <tr>
            <td scope="row"><a href="{% url 'detail_ikan' ikan.id %}" >
                    {{ ikan.nama_ikan }}
                </a>
            </td>
            <td>{% if ikan.status == 'b' %}
                    Belum Diberi Makan
                {% else %}
                    Sudah Diberi Makan
                {% endif%}
            </td>
            <td>
                {{ ikan.jenis }}
            </td>
            <td>
                <a href="{% url 'ikan_edit' ikan.id %}" type="button" class="btn btn-primary">Edit</a>
                <a href="{% url 'ikan_delete' ikan.id %}" type="button" class="btn btn-danger">Hapus</a>
            </td>
            
            </tr>
            {%endfor%}
           
            
        </tbody>
</table>

</div>

{% endblock %}