{% extends 'wikiikan/base.html' %} 
{% block content %}


<div class="text-center table-responsive p-5">
    <!-- <a href="{% url 'ikan_add' %}" type="button" class="btn btn-info">Tambah +</a></a> -->
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Nama Pakan</th>
            <th>Jenis Pakan</th>
            <th>Berat</th>
            <th>Aksi</th>
            
           
        </tr>
        </thead>
        <tbody>
            {% for pakan in wikiikan%}
            <tr>
            <!-- <td scope="row"><a href="{% url 'detail_pakan' pakan.id %}" > -->
                    {{ pakan.nama_pakan }}
                </a>
            </td>
            <td>{% if pakan.jenis == '1' %}
                    Pakan Bibit
                {% elif pakan.jenis == '2' %}
                    Pakan Dewasa
                {% endif%}
                    Pakan Induk
            </td>
            <td>
                {{ pakan.jenis }}
            </td>
            <td>
                <!-- <a href="{% url 'pakan_edit' pakan.id %}" type="button" class="btn btn-primary">Edit</a>
                <a href="{% url 'pakan_delete' pakan.id %}" type="button" class="btn btn-danger">Hapus</a> -->
            </td>
            
            </tr>
            {%endfor%}
           
            
        </tbody>
</table>

</div>

{% endblock %}