{% extends 'wikiikan/base.html' %} {% block content %}
<a href="{% url 'home_pakan' %}"><b> -- Back </b> </a>
<h3>Tambah Data Pakan </h3>
<form action="" method="post">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" values="Simpan">
</form>
{% endblock %}